!!!
%html
	%head
		%title Drug Management
		
		

	%body
		#header
			= partial :index
			%br
			%br
			%br
			.mycontainer
				.row
					%form{:action => "/addNewDrug", :method => "post"}
						.form-group
							- if flash[:msg]
								%p
									= flash[:msg]
							%h2 Give details of the Drug
							%br
							%input#drug_name.form-control{:placeholder => "drug name", :type => "text", :required =>"",:name => "name"}
							%br
							%br
						.form-group
							%input#cat_id.form-control{:placeholder => "quantity", :type => "text", :required =>"",:name => "quantity"}
							%br
							%br
						.form-group
							%input#cat_id.form-control{:placeholder => "price", :type => "text", :required =>"",:name => "price"}
							%br
								Categories :
								- @cats.each do |one|
									%input{:name => one[:id] ,:type => "checkbox"}
										=one[:name]
										&nbsp &nbsp

							%br
							%button#submit.btn.btn-default{:type => "submit"} Add
							%button#reset.btn.btn-default{:type => "reset"} Reset
							- if flash[:error]
								%p
									= flash[:error]