!!!
%html
  %head
    %title Create Orders

    

  %body
    #header
      = partial :index
      %br
      %br
      %br
      .mycontainer
        %h1 Create Order
        %form{:action => "/show_drug_ByCategory", :method => "post"}
          %br
          %br
          
            choose category :
            %br
            - @category.each do |catg|
              %input{:name => "s1", :type => "radio", :value => catg[:id]}= catg[:name]
              %br
                
          %button#submit.btn.btn-default{:type => "submit"} Show Drug
          - if flash[:error]
            %p
              = flash[:error]
                

