!!!
%html
  %head
    %title Create Orders
    
  %body
    #header
      = partial :index
      %br
      %br
      %br
      .mycontainer
        %h1 Create Order
        %form{:action => "/add_drugs_order", :method => "post"}
          %br
          %br
          .form-group
            %input#cat_id.form-control{:placeholder => "order ID", :type => "number", :required =>"",:name => "order_id"}
            %br
          .form-group
            %input#cat_id.form-control{:placeholder => "name", :type => "number", :required =>"",:name => "user_name"}
          .form-group
            %br
              %select{:name => "drug"}
                - @drugs.each do |one|
                  %option{:value => one[:id]}= one[:name]
          .form-group
            %input#quantity.form-control{:placeholder => "quantity", :type => "number", :required =>"",:name => "quantity"}
            %br
            %button{class: "btn btn-primary btn-sm", onclick: "add_drug(drug_table)"} Add Drug
            %table{:border=>"1", :style=>"width:40%",:align=>"center",:id=>"drug_table"}
            - if flash[:error]
              %p
                = flash[:error]
                