!!!
%html
  %head
    %title Create Orders
    / %link{:href => "main.js"}

  %body
    #header
      = partial :index
      %br
      %br
      .mycontainer
        %h1 Create Order
        %form{:action => "/show_drug_ByCategory", :method => "post"}
          %br
          .form-group
            choose category :
            %br
            - @category.each do |catg|
              %input{:name => "s1", :type => "radio", :value => catg[:id]}= catg[:name]
              %br
                
          %button#submit.btn.btn-default{:type=>"button",:onclick => "loadJSON(event,s1)"} Show Drug
        %br
        %br
        %table{:border=>"1", :style=>"width:40%",:align=>"center",:id => "display"}
          
          - if flash[:error]
            %p
              = flash[:error]
         
           