!!!
%html
	%head
		%title welcome
		
	%body
		-if login?
			%h1= "Welcome #{@username}"
			.logoutLblPos
				%a{:href => "/logout"} Logout
			.dropdown
				%button.dropbtn Home
				.dropdown-content
					%a{:href => "/index"} Home
				
			.dropdown
				%button.dropbtn Categories
				.dropdown-content
					%a{:href => "/create_cat"} Create Category
					%a{:href => "/viewAllCategories"} View All Category
					%a{:href => "/changeCategories"} Change Name of Category
			.dropdown
				%button.dropbtn Products
				.dropdown-content
					%a{:href => "/addNewDrug"} Add New Drug
					%a{:href => "/viewDrugs"} View Drugs
					%a{:href => "/updateDrug"} Update Drug Detail
			.dropdown
				%button.dropbtn Orders
				.dropdown-content
					%a{:href => "/view_orders"} List All Sale-Order
					%a{:href => "/create_order"} Create Order

	
					
