!!!
%html
	%head
		%title welcome
		
	%body
		-if login?
			%h1= "Welcome #{@username}"
			.logoutLblPos
				%a{:href => "/logout"} Logout
			.dropdown
				%button.dropbtn Home
				.dropdown-content
					%a{:href => "/index"} Home
				
			.dropdown
				%button.dropbtn Categories
				.dropdown-content
					%a{:href => "/create_cat"} Create Category
					%a{:href => "/viewAllCategories"} View All Category
					%a{:href => "/home"} Change Name of Category
			.dropdown
				%button.dropbtn Products
				.dropdown-content
					%a{:href => "/addNewDrug"} Add New Drug
					%a{:href => "/home"} Update Drug Detail
			.dropdown
				%button.dropbtn View Order
				.dropdown-content
					%a{:href => "/home"} List All Sale-Order
			.dropdown
				%button.dropbtn Create Order
				
	
					
