!!!
%html
  %head
  %title Drug Management
  %link{:type => "text/css",:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
  %link{:href => "mycss.css", :rel => "stylesheet"}/
  %link{:href => "mystyle.css", :rel => "stylesheet"}/
  %script{:charset => "utf-8", :src => "simpleCart.js", :type => "text/javascript"}

  %body
    %header
      .align-center
        %h2 Drug Management System
        #container= yield
    %hr
    %footer
      .align-center
        %h5 Copyright &copy HIPL
		  