!!!
%html
	%head
		%title Drug Management
		
		

	%body
		#header
			= partial :index
			%br
			%br
			%br
			.align-center
				%table{:border=>"1", :style=>"width:40%",:align=>"center"}
					- @all.each do |one|
						%tr
							%td{ :width =>"10%" }
								= one[:id]
							%td{:width =>"60%" }
								= one[:name]